:root {
    --primary-color: #fc6f0a;
    --secundary-color: #0b0b0b;
    --white-color: #ffffff;
    --black-color: #000;
    --star-color: #fe9c26;
    --gap: 4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}

section {
    min-height: 100vh;
    border-bottom: 1px solid var(--white-color);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.hero {
    background-image: 
    linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url(../img/barber-shop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    color: var(--primary-color);
    font-size: 9.5rem;
    letter-spacing: 4px;
    text-transform: uppercase;
    animation: fadeUp 1.3s ease forwards;
}

.hero p {
    width: 100%;
    padding: 5px 0;
    margin: 2rem 0;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--white-color);
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.6);
    animation: fadeDown 2s ease forwards;
}

.btn-calendary {
    display: inline-block;
    padding: 12px 28px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    background: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;   
    animation: fadeUp 2s ease forwards;
}

.btn-calendary:hover {
    background: rgba(0, 0, 0, 0.6);
    color: var(--primary-color);
    font-size: 2.5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}

.nav {
    position: relative;
    margin: 20px auto;
    padding: 1.5rem 15rem;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--white-color);
    border-top: 1px solid var(--white-color);
    background: rgba(0, 0, 0, 0.6);
}

.menu-nav {
    list-style: none;
    display: flex;
    gap: 30px
}

.menu-nav a {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;

    color: var(--white-color);
    text-decoration: none;

    transition: 0.1s;

}

.menu-nav a:hover{
    color: var(--primary-color)
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    max-width: 120px;
    width: auto;
    display: block;
    padding: 2px;

}

.about {
    background: var(--secundary-color);
    padding: 10rem 15rem;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.about-text h2 {
    font-size: 5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 3rem;

}

.about-text p {
    font-size: 3rem;
    line-height: 1.5;
    color: var(--white-color);
    margin-bottom: 2rem;
}


.about-img {
    max-width: 500px;
    width: 100%;
    border: 2px solid var(--white-color);

    transition: all 300ms ease-in-out;
}

.about-img img {
    width: 100%;
    height: auto;
    display: block;
}


.about-img:hover {
    transform: translate(-0.5%, 1%) scale(1.1);
}

.services {
    padding: 10rem 15rem;
    background: var(--secundary-color);
    color: var(--white-color);
    text-align: center;
}

.services-content h2{
    font-size: 5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.services-description {
    margin: 4.5rem auto 10rem;
    max-width: 600px;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-style: italic;
}

.services-grid {
    display: flex;
    justify-content: center;
    gap:var(--gap);
}

.service-card {
    border: 1px solid var(--white-color);
    padding: 3rem 3rem;
    width: 280px;
    background: var(--black-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.service-card h3 {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

.service-card span {
    display: block;
    margin-top: 2rem;
    font-size: 2.2rem;
    color: var(--primary-color);
}

.service-card:hover {
    transform: translateY(-10px);
    border-color: var(--primary-color);
    box-shadow: 0 20px 30px rgba(252, 111, 10, 0.3);
}

.gallery {
    padding: 10rem 15rem;
    background: var(--secundary-color);
    color: var(--white-color);
    text-align: center;
}

.gallery h2 {
    font-size: 5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.gallery-description {
    margin: 4rem auto 6rem;
    max-width: 600px;
    font-size: 2rem;
    font-style: italic;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.gallery-item {
    overflow: hidden;
    border: 1px solid var(--white-color);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.gallery-item:hover img {
    transform: scale(1.1) translateY(-10px);

}

.gallery-item:hover {
    border-color: var(--primary-color);
    box-shadow: 0 20px 30px rgba(252, 111, 10, 0.3);
}

.depoiments {
    background: var(--secundary-color);
    color: var(--white-color);

    display: flex;
    align-items: center;
}

.depoiments-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;

}

.depoiments-content h2{
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.depoiments-description {
    font-size: 1.8rem;
    font-style: italic;
    color: var(--white-color);
    margin-bottom: 6rem;
}

.depoiments-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--gap);
}

.depoiments-card {
    padding: 3rem;  
    border: 1px solid var(--white-color);
    border-radius: 8px;
    background: var(--black-color);

    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.depoiments-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(252, 111, 10, 0.3);

}

.depoiments-text {
    font-size: 1.6rem;
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.depoiments-name {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: var(--primary-color);
    text-transform: uppercase;
}

.depoiments-star {
    font-size: 2rem;
    letter-spacing: 4px;
    color: var(--star-color);
    margin-bottom: 1.5rem;
}

.contacts {
    background-image:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url(../img/barbershop-end.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
}

.contacts-content {
    max-width: 900px;
}

.contacts-content h2 {
    font-size: 5.5rem;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.contacts-content p {
    font-size: 2.4rem;
    margin-bottom: 4rem;
}

.btn-contacts {
    display: inline-flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 4rem;
    font-family: "Oswald", sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    color: var(--white-color);
    text-decoration: none;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    background: rgba(0, 0, 0, 0.6);
    letter-spacing: 2px;   
    transition: 0.3s;
}

.btn-contacts:hover {
    background: rgba(0, 0, 0, 0.6);
    color: var(--primary-color);
    font-size: 2.5rem;
}

.btn-contacts i {
    font-family: "Font Awesome 6 Brands";
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 15rem;

    display: flex;
    justify-content: space-between;
    gap: var(--gap);
}

.footer{
    background: var(--black-color);
    color: var(--white-color);
}

.footer-brand h2 {
    font-size: 3rem;
    letter-spacing: 3px;
    color: var(--primary-color);
}

.footer-brand p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    max-width: 300px;
}

.footer-info {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    line-height: 3.5rem;
    text-decoration: none;
}

.footer-social a {
    color: var(--white-color);
    font-size: 2.8rem;
    margin-right: 2rem;
    transition: color 0.1s ease;
}

.footer-social a:hover {
    color: var(--primary-color);
    font-size: 2.8rem;
    margin-right: 2rem;
}

#menu-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.menu-icon span {
  width: 28px;
  height: 3px;
  background: var(--white-color);
  border-radius: 2px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}





    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(30px);
        }
        to { 
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeDown {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

.hero h1,
.hero p,
.btn-calendary,
.nav {
    will-change: transform, opacity;
}

@media (max-width: 768px) {

    .hero h1 {
        font-size: 4.5rem;
        letter-spacing: 2px;
    }

    .hero p {
        font-size: 1.6rem;
        margin: 1.5rem 0;
    }

    .btn-calendary {
        font-size: 1.6rem;
        padding: 1.2rem 2.5rem;
    }

    .about {
        padding: 6rem 2rem;
    }

    .about-content {
        flex-direction: column;
        text-align: center;   
    }

    .about-text h2 {
        font-size: 3.5rem;
    }

    .about-text p {
        font-size: 2rem;
    }

    .about-img {
        max-width: 100%;
    }

    .services {
        padding: 6rem 2rem;
    }

    .services-grid {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 100%;
        max-width: 320px;
    }

    .gallery {
        padding: 6rem 2rem;
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .gallery-item img {
        height: 300px;
    }

    .depoiments {
        padding: 6rem 2rem;
    }

    .depoiments-grid {
        grid-template-columns: 1fr;
    }

    .depoiments-card {
        padding: 2.5rem;
    }

    .contacts {
        padding: 6rem 2rem;
    }

    .contacts-content {
        max-width: 100%;
    }

    .contacts h2 { 
        font-size: 3.8rem;
    }

    .contacts-content p {
        font-size: 2rem;

    }

    .btn-contacts {
        font-size: 1.6rem;
        padding: 1.2rem 3rem;
    }

    .footer-content {
        flex-direction: column;
        padding: 4rem 2rem;
        text-align: center;
  }

    .footer-social {
        margin-top: 2rem;
  }


    .footer-brand {
        width: 100%;
        text-align: center;
    }

    .footer-brand p {
        margin: 15px auto;
        text-align: center;
    }

    .nav {
        padding: 1.5rem 2rem;
    }

    .menu-icon {
        display: flex;
        z-index: 1001;
    }

    .menu-nav {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background: var(--black-color);

        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        padding: 4rem 0;
        display: none;

        z-index: 1000;
    }

    #menu-toggle:checked ~ .menu-nav {
    display: flex;

    }

    #menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
    #menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
}

    #menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

}




